.inputform{
    display: flex;
    flex-direction: column;
}
.mascota{
   color: white;
}

.dueño{
    color: white;
    margin-top: 10%;
}
.boton1{
    margin-top: 10%;
}
.date{
    margin-top: 10%;
    color: white;
}
.hora{
    
    margin-top: 10%;
    color: white;
}
.sintomas{
    margin-top: 10%;
    color: white;
}
